// ## Colors

// ### Primary

$Strong-cyan: #26c0ab;

// ### Neutral

$very-dark-cyan: #00494d;
$dark-grayish-cyan: #5e7a7d;
$dark-grayish-cyan: #7f9c9f;
$light-grayish-cyan: #c5e4e7;
$light-grayish-cyan: #f4fafa;
$white: #ffffff;

// ## Typography

// ### Body Copy

$font-size-form-inputs: 24px;

// ### Font

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

$family: 'SpaceMono';